#fastapi==0.95.2
#uvicorn[standard]==0.22.0
#tensorflow==2.14.0
#joblib==1.3.1
#pillow==10.0.0
#numpy==1.24.3
#keras==2.14.0


numpy
Pillow
tensorflow-cpu==2.10.0  # Use CPU version if GPU is not needed
joblib
uvicorn
fastapi
pytest
requests
